@font-face
  font-family: 'Montserrat'
  src: font-url("Montserrat-Regular.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: font-url("Montserrat-Bold.ttf")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'social'
  src: font-url("MonoSocialIconsFont-1.10.otf")
  font-weight: normal
  font-style: normal

.symbol
  font-family: 'social'
  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased
