#structure-header
  font-family: $header-font
  +padding-leader(0.5)
  +padding-trailer(0.5)
  +clearfix
  background: $color-1

  .title
    float: left
    h1
      +adjust-font-size-to(24px)
      text-transform: uppercase
      font-weight: bold
      a
        color: white

  .menu
    float: right
    padding: rhythm(0.25) 0
    li
      float: left
    a
      margin-left: $gutter-width
      color: white
      display: inline-block
      padding: rhythm(0.25) $gutter-width
      background: rgba(255,255,255,0.2)
      +transition(all 200ms ease-in-out)
      &:hover
        +scale(1.1)
        background: rgba(255,255,255,0.3)

