.panel
  padding: rhythm(1) $gutter-width

#panel-about
  text-align: center
  background: $color-1
  color: white
  padding: rhythm(2) $gutter-width
  h1
    +adjust-font-size-to(60px)
    text-transform: uppercase
  p
    +adjust-font-size-to(18px)
    margin: 0 auto
    +leader(1)
    max-width: col-width(14)
  a
    background: rgba(255,255,255,0.2)
    padding: 3px 10px
    color: white
