.panel
  padding: rhythm(1) $gutter-width
  +clearfix

  h2
    +adjust-font-size-to(24px)
    text-transform: uppercase
    +trailer(0.5)

#panel-about
  text-align: center
  background: $color-1
  color: white
  padding: rhythm(2) $gutter-width
  h2
    +adjust-font-size-to(60px)
    +trailer(0)
  p
    +adjust-font-size-to(18px)
    margin: 0 auto
    +leader(1)
    max-width: col-width(14)
  a
    background: rgba(255,255,255,0.2)
    padding: 3px 10px
    color: white
    display: inline-block
    +transition(all 200ms ease-in-out)
    &:hover
      +scale(1.1)
      background: rgba(255,255,255,0.3)
  .social
    +leader(0.5)
    +adjust-font-size-to(32px)
    a
      background: none
      padding: 0
      &:hover
        +opacity(0.8)
        +scale(1.5)


#panel-blog
  li
    float: left
    width: 33.3%
    padding-left: $gutter-width
    &:nth-child(3n+1)
      padding-left: 0
      clear: left
  a
    display: block
    color: #222
    padding: rhythm(0.25) $gutter-width/2 rhythm(0.25) col-width(1)+$gutter-width
    +trailer(1)
    +transition(all 200ms ease-in-out)
    position: relative
    &:before
      content: "circlestar"
      position: absolute
      +symbol-font
      color: $color-1
      +adjust-font-size-to(36px)
      left: $gutter-width
    &:hover
      +scale(1.05)
      border-color: transparent
      background: transparentize($color-1, 0.9)
  h3
    +adjust-font-size-to(20px)
    color: #333



#panel-contact
  background: #333
  color: white

  .notes
    float: left
    width: 50%
    +leader(0.5)
    padding-right: $gutter-width/2
    a
      color: white
    .social
      +adjust-font-size-to(32px)
      +leader(0.25)
      +trailer(0.25)
      a
        display: inline-block
        +transition(all 200ms ease-in-out)
        &:hover
          +scale(1.5)
          +opacity(0.8)
    dt
      width: col-width(2)
      float: left
      clear: left
      font-weight: bold
    dd
      float: left

  form
    float: right
    width: 50%
    padding-left: $gutter-width/2
    .field
      padding: rhythm(0.25) $gutter-width/2
      width: 100%
      float: left
      &.half
        width: 50%
      input, textarea
        width: 100%
        border: 1px #333 solid
        padding: rhythm(0.25) $gutter-width/2
        background: #444
        +adjust-font-size-to(16px)
        color: white
        &[type=submit]
          background: $color-1
          cursor: pointer
          float: right
          width: auto
          padding: rhythm(0.25) $gutter-width*2
        &:focus
          outline: none
          border-color: $color-1
