html,body
  background: white
  -webkit-font-smoothing: antialiased
  font-family: $body-font

html
  overflow-y: scroll
  height: 100%

body
  height: 100%
  min-height: 100%

*
  +box-sizing(border-box)

+establish-baseline
    
.centered

  +grid-background
  +clearfix

  height: 100%
  margin: 0 auto
  width: 100%

  @for $i from $min-cols through $max-cols/2
    +breakpoint($i*2)
      width: col-width($i*2)

  +transition(width 100ms ease-in-out)

#structure-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100

#structure-content
  +padding-leader(3)
