html,body
  background: white
  -webkit-font-smoothing: antialiased
  font-family: $body-font

html
  overflow-y: scroll
  height: 100%

body
  height: 100%
  min-height: 100%

*
  +box-sizing(border-box)

+establish-baseline
    
.centered
  // +grid-background
  height: 100%
  margin: 0 auto
  width: 100%

  +until-breakpoint($min-cols*2)
    padding: 0 $gutter-width

  @for $i from $min-cols through $max-cols/2
    +breakpoint($i*2)
      width: col-width($i*2)

#structure-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 100

#structure-content
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: 50
  +padding-leader(4)

.structure-page
  width: 100%
  height: 100%
