$gutter-width    : 15px !default
$base-font-size  : 16px !default
$base-line-height: 20px !default

$gold:    #F58E03
$orange:  #FF5300
$red:     #E81402
$crimson: #80064D
$purple:  #450459

$color-text: #222

$body-font: Helvetica, Arial, sans-serif
$header-font: Helvetica, Arial, sans-serif
