!!! 5
%html.loading
  = partial "layouts/head"

  %body.blog_post
    #structure-header= partial "layouts/header"
    #structure-content
      .centered
        %h2 Blog
        = yield 
    #structure-footer= partial "layouts/footer"
