%h2 Hello!
%p.lede I'm a London-based software engineer and designer from Edinburgh. I love all things technical and design-y, especially Linux, Rails, Javascript, CSS, Objective-C and Python. I currently work as an engineer with #{ link_to "Digital Science", "http://www.digital-science.com", :target => :_blank } but I also freelance – get in touch if you'd like to talk.
= partial "parts/social_links"
