%h2 Blog
%ol
  - blog_posts.each do |post|
    %li
      = link_to post[:page].path do
        %h3= post[:title]
        %time{ :datetime => post[:date].strftime("%Y-%m-%d") }= post[:date].strftime "%A %d %B#{" %Y" if post[:date] <= Date.today - 365 }" 
