%h2 Portfolio
.links
  - link_to "portfolio/fest-magazine", :id => "portfolio-listing-fest" do
    = image_tag 'home-portfolio/fest.jpg'
    %span Fest Magazine
  - link_to "portfolio/park-circus", :id => "portfolio-listing-park-circus" do
    = image_tag 'home-portfolio/park-circus.jpg'
    %span Park Circus Films
  - link_to "portfolio/iaseminars", :id =>  "portfolio-listing-iaseminars" do
    = image_tag 'home-portfolio/iaseminars.jpg'
    %span IASeminars
