.portfolio-page

  .content-title
    color: white
    a,.sep
      color: rgba(255,255,255,0.5)

  .content
    +legacy-pie-clearfix
    &.clear
      clear: left

  .portfolio-intro
    margin: rhythm(-1) ($gutter-width*-1) 0 ($gutter-width*-1)
    padding: rhythm(1) $gutter-width
    position: relative
    .centered
      min-height: rhythm(20)

  .centered
    overflow: hidden
    position: relative
    .text
      position: absolute
      bottom: 0
      a
        color: white
        text-decoration: underline

    h1
      color: white
      font-weight: bold
      +adjust-font-size-to(72px,3)
      +text-shadow(3px 3px 5px rgba(0,0,0,0.6))
      text-transform: uppercase
      +trailer(0.25)
      +until-breakpoint(6)
        +adjust-font-size-to(64px,2.25)

    h2
      text-transform: uppercase
      +adjust-font-size-to(34px,2, 18px)
      +trailer(0.5)
      font-weight: bold
      &.left
        float: left

    p.lede
      color: white
      +adjust-font-size-to(26px, 1.5)
      width: 100%
      +text-shadow(3px 3px 5px rgba(0,0,0,0.6))
      +until-breakpoint(6)
        +adjust-font-size-to(22px,1.3)

  .portfolio-content
    padding: rhythm(1) 0

  .portfolio-gallery
    overflow: hidden
    margin: 0 -$gutter-width
    +trailer(1)
    img
      width: 100%

#fest-portfolio-page

  .portfolio-intro
    background:
      image: image-url('fest/header.jpg')
      color: black
      repeat: no-repeat
      position: center 0
      size: 100%
      attachment: fixed
    +until-breakpoint(8)
      background-size: auto 100%
      background-position: center 0
      background-attachment: local


  .cover_image
    float: right
    width: col-width(6)
    margin-left: col-width(1)
    +until-breakpoint(14)
      margin-left: col-width(0.5)
    +until-breakpoint(12)
      width: col-width(5)
      margin-left: col-width(0.5)
    +until-breakpoint(10)
      margin-left: 0
      width: 100%
      +leader(-1)
      +trailer(1)

  .image-padding
    +trailer(1)
    overflow: hidden
  
  img.preview_inner_image_1
    width: 100%
  img.preview_inner_image_2
    width: 33%
    float: left
  img.preview_inner_image_3
    width: 66%
    float: right
  img.preview_grid_image_1
    width: 50%
    float: left
  img.preview_grid_image_2
    width: 50%
    float: right
  img.preview_grid_image_1, img.preview_grid_image_2
    +until-breakpoint(10)
      float: none
      width: 100%

  img.issue_inner_image_1
    width: 50%
    float: left
  img.issue_inner_image_2
    width: 50%
    float: right
  img.issue_inner_image_3
    width: 70%
    display: block
    margin: 0 auto

  img.issue_inner_image_1,
  img.issue_inner_image_2,
  img.issue_inner_image_3
    +until-breakpoint(10)
      width: 100%

  img.website_ipad_1
    width: 45%
    float: left
    display: block
    clear: left
    +until-breakpoint(10)
      width: 100%
      float: none

  img.braincube_1
    width: 50%
    float: right
    +until-breakpoint(10)
      width: 100%
      float: none

  .cover-image-set
    overflow: hidden
    +trailer(1)
    img
      width: 20%
      float: left
      +until-breakpoint(10)
        width: 50%
        &:nth-child(3)
          display: none

  .website-intro
    width: 50%
    margin-left: 5%
    float: left
    +until-breakpoint(10)
      width: 100%
      margin-left: 0
      float: none


#park-circus-portfolio-page

  .content-title
    color: black
    a,.sep
      color: rgba(0,0,0,0.5)

  .portfolio-intro
    background:
      image: image-url('park-circus/header.jpg')
      color: black
      repeat: no-repeat
      position: center 0
      size: 100%
      attachment: fixed
    +until-breakpoint(8)
      background-size: auto 100%
      background-position: center 0
      background-attachment: local

  .cover_image
    float: right
    width: col-width(6)
    margin-left: col-width(1)
    +until-breakpoint(12)
      width: col-width(4)
    +until-breakpoint(8)
      width: 100%

  .search_image
    float: left
    width: 50%
    margin-right: col-width(1)
    position: relative
    top: -30px
    +until-breakpoint(12)
      width: 45%
    +until-breakpoint(10)
      width: 100%

  ul
    +until-breakpoint(10)
      clear: left

#intralink-portfolio-page

  .content-title
    color: white
    a,.sep
      color: rgba(255,255,255,0.5)

  .portfolio-intro
    background:
      image: image-url('intralink/header.jpg')
      color: black
      repeat: no-repeat
      position: center 0
      size: 100%
      attachment: fixed
    +until-breakpoint(8)
      background-size: auto 100%
      background-position: center 0
      background-attachment: local

  .cover_image
    float: right
    width: col-width(8)
    margin-left: col-width(1)
    +until-breakpoint(12)
      width: 100%

  .screen_image
    float: left
    width: 50%
    margin-right: col-width(1)
    position: relative
    top: -30px
    +until-breakpoint(12)
      width: 45%
    +until-breakpoint(10)
      width: 100%

  ul
    +until-breakpoint(10)
      clear: left
