---
title: Privacy Policy
---

.centered.documentation-page
  .content-title
    %h1 Application Privacy Policy
  .content

    %p This privacy policy applies to all applications published by Matthew MacLeod.

    %h2 Data collected by this application

    %p This application does not collect any data.

    %h2 Third party uses of data

    %p This application does not share any data with any third parties.

    %h2 Data retention policy

    %p This application does not collect any data.
