---
title: Service and support
---
.centered.documentation-page
  .content-title
    %h1 Application Support Policy
  .content
    %p This support information applies to all applications published by Matthew MacLeod.

    %h2 Accessing support

    %p Support is available by email to #{ link_to('support@umm.io', 'mailto:support@umm.io') }
