.social
  %a.symbol{ href: "https://twitter.com/matt_macleod", target: :_blank } &#xe800;
  %a.symbol{ href: "https://facebook.com/matthewmacleod", target: :_blank } &#xe807;
  %a.symbol{ href: "https://uk.linkedin.com/in/matthewmacleod", target: :_blank } &#xe802;
  %a.symbol{ href: "https://github.com/mattmacleod", target: :_blank } &#xe801;
  %a.symbol{ href: "mailto:mail@matthewmacleod.co.uk", target: :_blank } &#xe803;
