---
title: Fest Magazine
abstract: An annual publication covering the Edinburgh Festival
---

.portfolio-page#fest-portfolio-page
  .portfolio-intro
    .centered
      .content-title
        = link_to "Home", "/"
        %span.sep →
        Portfolio
      .text
        %h1 Fest Magazine
        %p.lede Fest is an annual magazine covering the Edinburgh Festival. Since launching in 2002, it's become the most widely-read and well-respected Festival review magazine. I've worked with Fest for 10 years as the Creative Director and technical lead. 
  .portfolio-content
    .centered
      .content
        .fest-intro
          = image_tag "fest/preview-cover-1.jpg", :class => :cover_image
          :markdown
            ## What is Fest?
            Founded in 2002, Fest was launched with the goal of bringing a fresh editorial voice to the crowded Festival market. Over the course of ten festivals, it has grown steadily to become the largest magazine covering the Edinburgh Festival.
            
            We publish six magazines every year – a chunky preview guide in July, which serves as a handbook for the whole of the festival, and five festival issues packed full of reviews and features which hits the streets every Tuesday and Friday during the Fringe. We print 125,000 magazines over the summer, which means you can find Fest pretty much anywhere in Edinburgh.

            We've also got a comprehensive responsive website at [www.festmag.co.uk](https://festmag.co.uk), which includes searchable listings of every event at the festival and geolocation features to help mobile users find nearby events.

            
