---
title: Intralink
abstract: A custom content-managed site for this international market development company.
---

.portfolio-page#intralink-portfolio-page
  .portfolio-intro
    .centered
      .content-title
        = link_to "Home", "/"
        %span.sep →
        Portfolio
      .text
        %h1 Intralink Group
        %p.lede Development of a custom Content Management System and website for this international provider of market access and business development services to European and North American companies targeting China, Japan, Korea and Taiwan.

  .portfolio-content
    .centered
      .content.clear
        = image_tag "intralink/screen-1.jpg", :class => :cover_image
        .park-circus-intro
          :markdown
            ## About the project

            [Intralink Group](http://www.intralinkgroup.com) is the market leading provider of market access services for companies looking to break into or develop their business in Asia.

            I've worked with them for a number of years, most recently implementing a new website with a refreshed design and a custom Content Management System

            The custom CMS was developed from scratch, and I'm currently extending it for use in other projects. The concepts are based on my earlier [Braincube](https://github.com/mattmacleod/Braincube) CMS, but retargeted for greater flexibility and ease-of-use.

  .portfolio-content
    .centered
      .content
        %h2 Key features
        = image_tag "intralink/screen-2.jpg", :class => :screen_image
        %ul
          %li Clean, accessible and cross-platform design, using HTML5 and CSS3.
          %li Easy-to-use Content Management system with drag-and-drop file and content management.
          %li Multilingual frontend with full Unicode support for Chinese, Korean and Japanese scripts.
          %li Full translation support within the Content Management system
          %li Comprehensive Search Engine Optimisation




  .centered
    .content-footer
      = link_to "← Back", "/"

