body.blog_post #structure-content
  padding-left: $gutter-width
  padding-right: $gutter-width
  +leader(1)
  +trailer(2)
  
  .blog_date
    text-transform: uppercase
    color: #666
    display: block
    +adjust-font-size-to(11px,0.5)
    &+h1
      +leader(0)

body.blog_post .content
  img
    width: 100%
  img.left
    width: 66%
    float: left
    margin-right: col-width(1) + $gutter-width
