body.blog_post #structure-content
  padding-left: $gutter-width
  padding-right: $gutter-width
  +leader(1)
  +trailer(2)
  
  .blog_date
    text-transform: uppercase
    color: #666
    display: block
    +trailer(-1.5)

body.blog_post .content
  img.left
    width: col-width(9)
    float: left
    margin-right: col-width(1) + $gutter-width
