#headshot
  width: 200px
  height: auto
  margin: 0 auto
  +border-radius(100%)
  border: 10px #222 solid
  float: left

#structure-footer
  background: #333
  color: white
  clear: left
  +clearfix
  padding: rhythm(1) $gutter-width
  h2
    +adjust-font-size-to(24px)
    text-transform: uppercase
    +trailer(0.5)
  
  .notes
    float: left
    margin-left: 30px

    +legacy-pie-clearfix
    padding-right: $gutter-width/2
    
    +until-breakpoint(8)
      width: 100%
      float: none
      padding: 0

    a
      color: white
      +transition(all 200ms ease-in-out)
      display: block
      &:hover
        +scale(1.1)

    .social
      +adjust-font-size-to(32px)
      +leader(0.25)
      +trailer(0.25)
      a
        display: inline-block
        &:hover
          +scale(1.5)
          +opacity(0.8)
          text-decoration: none

    dt
      width: col-width(1)
      float: left
      clear: left
      font-weight: bold
    dd
      float: left

    .additional_links
      +padding-leader(1)
      clear: left
      a
        display: inline-block
        margin-right: $gutter-width
        &:hover
          +scale(1.1)
