html
  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased
  overflow-y: scroll
  overflow-x: hidden
  height: 100%

body
  height: 100%
  min-height: 100%
  font-family: $body-font

*
  +box-sizing(border-box)

+establish-baseline
    
.centered

  // Debugging
  // +grid-background
  // +clearfix

  height: 100%
  margin: 0 auto
  width: 100%

  @for $i from $min-cols through $max-cols/2
    +breakpoint($i*2)
      width: col-width($i*2)

  +transition(width 100ms ease-in-out)

#structure-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  +transform(rotateY(0deg))

#structure-content
  +padding-leader(3)
