#{headings()}
  font-family: $header-font

a
  text-decoration: none

code
  font-family: monospace
  border: 1px #ddd solid
  background: #eee
  +border-radius(3px)
  padding: 1px 4px
  +adjust-font-size-to(14px,1)

.CodeRay
  font-family: monospace
  padding: rhythm(0.5) $gutter-width
  border: 1px #ddd solid
  +border-radius(3px)
  overflow: auto
  +trailer(1)

.content

  +leader(0.5)
  +adjust-font-size-to(25px,1.5)
  font-family: "proxima-nova", Helvetica, Arial, sans-serif

  a
    color: $color-1
    font-weight: bold
    &:hover
      text-decoration: underline
  h1
    +adjust-font-size-to(40px)  
    +trailer(0.5)
    +leader(0.5)
    font-weight: bold
    +until-breakpoint(12)
      +adjust-font-size-to(36px,1.5)
  h2
    +adjust-font-size-to(24px,1)
    +trailer(0.5)
    font-weight: bold
  h3
    +adjust-font-size-to(18px,1)
    +trailer(0.25)
    font-weight: bold
  p
    +trailer(1)

  p.lede
    +adjust-font-size-to(20px)

  ul
    padding-left: $gutter-width
    margin-left: $gutter-width
    list-style-type: square
    +trailer(1)
    li
      +trailer(0.25)
  strong
    font-weight: bold
  em
    font-style: italic
