---
title: Credits
---

.text-page.centered
  .content-title
    = link_to "Home", "/"
    %span.sep →
    Credits
  .content
    :markdown
      # Credits
      Thanks to a couple of people and resources for their content on this website:

      - Uses zepto.js from [http://zeptojs.com](http://zeptojs.com)
      - Uses modernizr.js from [http://modernizr.com](http://modernizr.com)
      - Turbolinks.js extracted from Rails: [https://github.com/rails/turbolinks](https://github.com/rails/turbolinks)
      - zepto_scroll.js by Max Degterev ([@suprMax](https://twitter.com/suprMax))
      - Photo of China thanks to [http://www.flickr.com/photos/kk9k/](http://www.flickr.com/photos/kk9k/)

  .content-footer
    = link_to "← Back", "/"
