---
title: Software Engineer
---

.panel#panel-about
  .centered
    %h1 Hello!
    %p.lede I'm a London-based software engineer from Edinburgh. I love all things technical, especially Linux, Rails, Javascript, Objective-C and Python. I am an engineer at #{ link_to "Digital Science", "http://www.digital-science.com", :target => :_blank } but I also freelance for a variety of clients, and I'm available for new commissions.
    %p.lede Please #{ link_to "contact me" } if you'd like to talk!
