---
title: Software Engineer
---

.panel#panel-about
  .centered= partial "home/about"

.panel#panel-blog
  .centered= partial "home/blog"
    
.panel#panel-portfolio
  .centered= partial "home/portfolio"

.panel#panel-contact
  .centered= partial "home/contact"
    
