---
title: Software Engineer
---

.panel#panel-about
  .centered
    %h2 Hello!
    %p.lede I'm a London-based software engineer from Edinburgh. I love all things technical, especially Linux, Rails, Javascript, Objective-C and Python. I am an engineer at #{ link_to "Digital Science", "http://www.digital-science.com", :target => :_blank } but I also freelance for a variety of clients, and I'm available for new commissions.
    = partial :social_links

.panel#panel-blog
  %h2 Blog

.panel#panel-portfolio
  %h2 Portfolio

.panel#panel-contact
  .centered
    %h2 Contact me
    .notes
      %p You can fill in the form, or use the details below.
      = partial :social_links
      %dl
        %dt Email
        %dd= mail_to "mail@matthewmacleod.co.uk"
        %dt Phone
        %dd +44 7976 121 482

    %form
      %fieldset
        .field.half
          %input{ type: :text, name: :name, required: true, placeholder: "Your name" }/
        .field.half
          %input{ type: :email, name: :email, required: true, placeholder: "Your email address" }/
        .field
          %textarea{ name: :content, rows: 5, placeholder: "Your message" }
        .field
          %input{ type: :submit, value: "Send it" }
